<a-entity id='game-start-button' game-starter data-clickable>
  <a-entity data-clickable mixin='logo-font' text="value:C; color: red;" position="4 0  0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:H; color: green;" position="4.6 0  0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:R; color: blue;" position="5.2 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:O; color: cyan;" position="5.75 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:M; color: yellow;" position="6.4 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:A; color: magenta" position="7.2 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:S; color: gold;" position="7.9 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:T; color: purple;" position="8.4 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:A; color: orange;" position="8.9 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:X; color: sienna;" position="9.6 0 0"></a-entity>
</a-entity>
<a-text id='start-help-text' color='#FFFFFF' rotation='0 0 0' position='-4.5 0 0' width='10' value="Click Logo To Play"></a-text>

<a-entity visible='false' id='box-template' material='color: blue; metalness: 0.5; roughness: 0.2;' geometry='primitive: box; width: 0.4; height: 0.4; depth: 0.4;'></a-entity>
<a-entity visible='false' id='cone-template'         material='color: yellow; metalness: 0.5; roughness: 0.2;' geometry='primitive: cone; radiusBottom: 0.25; radiusTop: 0; height: 0.4;'></a-entity>
<a-entity visible='false' id='sphere-template'       material='color: purple; metalness: 0.5; roughness: 0.2;' geometry='primitive: sphere; radius: 0.25; segmentsHeight: 9, segmentsWidth: 18;'></a-entity>
<a-entity visible='false' id='octahedron-template'   material='color: green; metalness: 0.5; roughness: 0.2;' geometry='primitive: octahedron; radius: 0.28;'></a-entity>
<a-entity visible='false' id='tetrahedron-template'  material='color: orange; metalness: 0.5; roughness: 0.2;' geometry='primitive: tetrahedron; radius: 0.4;'></a-entity>
<a-entity visible='false' id='dodecahedron-template' material='color: pink; metalness: 0.5; roughness: 0.2;' geometry='primitive: dodecahedron; radius: 0.25;'></a-entity>
<a-entity visible='false' id='icosahedron-template'  material='color: aqua; metalness: 0.5; roughness: 0.2;' geometry='primitive: icosahedron; radius: 0.25;'></a-entity>
