<a-entity id='game-start-button' game-starter data-clickable>
  <a-entity data-clickable mixin='logo-font' text="value:C; color: red;" position="4 0  0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:H; color: green;" position="4.6 0  0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:R; color: blue;" position="5.2 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:O; color: cyan;" position="5.75 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:M; color: yellow;" position="6.4 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:A; color: magenta" position="7.2 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:S; color: gold;" position="7.9 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:T; color: purple;" position="8.4 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:A; color: orange;" position="8.9 0 0"></a-entity>
  <a-entity data-clickable mixin='logo-font' text="value:X; color: sienna;" position="9.6 0 0"></a-entity>
</a-entity>
<a-text id='start-help-text' color='#FFFFFF' rotation='0 0 0' position='-4.5 0 0' width='10' value="Click Logo To Play"></a-text>

<a-entity id='the-portals' template='src: ./src/templates/reference_orbs.html'></a-entity>

