<a-entity id='stack-area' rotation='-90 90 0' position=' 0 0.01 0' layout='type: circle; radius: 2.5'>

  <a-entity id='portal1' portal mixin='portal-spec'>
    <a-entity template='src: ./src/templates/score_panel.html'></a-entity>
  </a-entity>

  <a-entity id='portal2' portal mixin='portal-spec'></a-entity>

  <a-entity id='portal3' portal mixin='portal-spec'></a-entity>

  <a-entity id='portal4' portal rotation='0 0 90' mixin='portal-spec'>
    <a-entity template='src: ./src/templates/score_panel.html'></a-entity>
  </a-entity>

  <a-entity id='portal5' portal mixin='portal-spec'></a-entity>

  <a-entity id='portal6' portal mixin='portal-spec'></a-entity>

  <a-entity id='portal7' portal rotation='0 0 -180'>
    <a-entity template='src: ./src/templates/score_panel.html'></a-entity>
  </a-entity>

  <a-entity id='portal8' portal mixin='portal-spec'></a-entity>

  <a-entity id='portal9' portal mixin='portal-spec'></a-entity>

  <a-entity id='portal10' portal mixin='portal-spec' rotation='0 0 -90'>
    <a-entity template='src: ./src/templates/score_panel.html'></a-entity>
  </a-entity>

  <a-entity id='portal11' portal mixin='portal-spec'></a-entity>

  <a-entity id='portal12' portal mixin='portal-spec'></a-entity>

</a-entity>


