<a-entity
  visible='false'
  id='box-template'
  mixin='orb-material'
  material='color: blue;
            emissive: blue;'
  geometry='primitive: box;
            width: 0.4;
            height: 0.4;
            depth: 0.4;'></a-entity>

<a-entity
  visible='false'
  id='cone-template'
  mixin='orb-material'
  material='color: yellow;
            emissive: yellow;'
  geometry='primitive: cone;
            radiusBottom: 0.25;
            radiusTop: 0;
            height: 0.4;'></a-entity>

<a-entity
  visible='false'
  id='sphere-template'
  mixin='orb-material'
  material='color: purple;
            emissive: purple;'
  geometry='primitive: sphere;
            radius: 0.25;
            segmentsHeight: 9,
            segmentsWidth: 18;'></a-entity>

<a-entity
  visible='false'
  id='octahedron-template'
  mixin='orb-material'
  material='color: green;
            emissive: green;'
  geometry='primitive: octahedron;
            radius: 0.28;'></a-entity>

<a-entity
  visible='false'
  id='tetrahedron-template'
  mixin='orb-material'
  material='color: orange; emissive: orange;'
  geometry='primitive: tetrahedron; radius: 0.4;'></a-entity>

<a-entity
  visible='false'
  id='dodecahedron-template'
  mixin='orb-material'
  material='color: pink; emissive: pink;'
  geometry='primitive: dodecahedron; radius: 0.25;'></a-entity>

<a-entity
  visible='false'
  id='icosahedron-template'
  mixin='orb-material'
  material='color: aqua; emissive: aqua;'
  geometry='primitive: icosahedron; radius: 0.25;'></a-entity>
